body {
    background-color: hsl(0, 0%, 90%);
    padding: 60px;
    height: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;}

.container {

    height: 580px;
    width: 80%;
    margin-left: 170px;

}

.commentDaniel {
    background-color: hsl(263, 55%, 52%);
    height: 270px;
    width: 45%;
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top 0px right 75px;
    background-size: 21%;
    border-radius: 10px;
    display: inline-block;
}

.commentDaniel>img {
    height: 30px;
    width: 6%;
    border-radius: 50%;
    border: 2px solid grey;
    margin: 20px;
    float: left;
}

.ID {
    float: left;
}

.commentDaniel>.ID>p {
    font-size: 14px;
    padding-top: 8px;
    margin-bottom: 0px;
    color: hsl(0, 0%, 100%);
}

.commentDaniel>.ID>span {
    font-size: 12px;
    color: hsl(0, 0%, 100%);
    filter: opacity(50%);
}

.commentDaniel>h2 {
    padding-top: 74px;
    font-size: 19px;
    padding-left: 25px;
    padding-right: 30px;
    color: hsl(0, 0%, 100%);
}

.commentDaniel>p {
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    padding-left: 25px;
    margin-right: 18px;
    filter: opacity(70%);
    padding-right: 30px;

}

.commentJonathan {
    background-color: hsl(217, 19%, 35%);
    height: 270px;
    width: 22%;
    border-radius: 10px;
    display: inline-block;
    margin-left: 30px;
}

.commentJonathan>img {
    height: 30px;
    width: 13%;
    border-radius: 50%;
    padding: 20px;
    float: left;

}

.commentJonathan>.ID>p {
    font-size: 14px;
    padding-top: 5px;
    margin-bottom: 0px;
    color: hsl(0, 0%, 100%);
}

.commentJonathan>.ID>span {
    font-size: 12px;
    margin-top: 0px;
    color: hsl(0, 0%, 100%);
    filter: opacity(50%);
}

.commentJonathan>h2 {
    padding-top: 59px;
    font-size: 19px;
    padding-left: 25px;
    padding-right: 25px;
    color: hsl(0, 0%, 100%);
}

.commentJonathan>p {
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    padding-left: 25px;
    padding-right: 40px;
    filter: opacity(70%);
}


.commentKira {
    background-color: hsl(0, 0%, 100%);
    width: 22%;
    height: 100%;
    float: right;
    border-radius: 10px;
    margin-right: 50px;

}

.commentKira>img {
    height: 30px;
    width: 13%;
    border-radius: 50%;
    float: left;
    padding: 20px;

}

.commentKira>.ID>p {
    font-size: 14px;
    padding-top: 5px;
    margin-bottom: 0px;
    color: hsl(217, 19%, 35%);
    font-weight: bolder;
}

.commentKira>.ID>span {
    font-size: 12px;
    margin-top: 0px;
    color: black;
    filter: opacity(50%);
}

.commentKira>h2 {
    padding-top: 70px;
    font-size: 19px;
    padding-left: 25px;
    padding-right: 25px;
    color: hsl(217, 19%, 35%);
}

.commentKira>p {
    color: black;
    font-size: 13px;
    padding-left: 25px;
    padding-right: 30px;
    filter: opacity(70%);
    padding-top: 10px;
    display: inline-block;
}

.commentJeanette {
    background-color: hsl(0, 0%, 100%);
    height: 260px;
    width: 22%;
    border-radius: 10px;
    display: inline-block;
}

.commentJeanette>img {
    height: 30px;
    width: 13%;
    border-radius: 50%;
    padding: 20px;
    float: left;
}

.commentJeanette>.ID>p {
    font-size: 14px;
    padding-top: 5px;
    margin-bottom: 0px;
    color: hsl(217, 19%, 35%);
    font-weight: bolder;
}

.commentJeanette>.ID>span {
    font-size: 12px;
    margin-top: 0px;
    color: black;
    filter: opacity(50%);
}

.commentJeanette>h2 {
    padding-top: 70px;
    font-size: 19px;
    padding-left: 25px;
    padding-right: 25px;
    color: hsl(217, 19%, 35%);
}

.commentJeanette>p {
    color: black;
    font-size: 13px;
    padding-left: 25px;
    padding-right: 38px;
    filter: opacity(70%);
    padding-top: 10px;
}

.commentPatrick {
    background-color: hsl(219, 29%, 14%);
    height: 260px;
    width: 46%;
    background-size: 22%;
    border-radius: 10px;
    display: inline-block;
    margin-top: 15px;
}

.commentPatrick>img {
    height: 30px;
    width: 6%;
    border-radius: 50%;
    border: 2px solid hsl(263, 55%, 52%);
    margin: 20px;
    float: left;
}

.commentPatrick>.ID>p {
    font-size: 14px;
    padding-top: 5px;
    margin-bottom: 0px;
    color: hsl(0, 0%, 100%)
}

.commentPatrick>.ID>span {
    font-size: 12px;
    color: hsl(0, 0%, 100%);
    filter: opacity(50%);
}

.commentPatrick>h2 {
    padding-top: 59px;
    font-size: 19px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 75px;
    color: hsl(0, 0%, 100%);
}

.commentPatrick>p {
    color: hsl(0, 0%, 100%);
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
    filter: opacity(70%);
}